<footer>
    &copy; 2023 SurfScape Labs is part of the <a href="https://surfscape.neocities.org">SurfScape Project</a> - <a href="/privacy">Privacy Policy</a> | <a href="https://github.com/surfscape/labs">Source Code</a>
</footer>