{% extends "./base.njk" %}

{% block content %}
    <style>
        .content {
            max-width: 65ch;
            margin: 0 auto;
        }
    </style>
    <article class="content">

        {{ content | safe }}
    </article>
{% endblock %}